<!--CAMPGROUND SHOW PAGE-->

<% include ../partials/header %>
<div class="row">
    <div class="col-md-3">
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
            <div class="card-body">
                <h5 class="float-right">$<%= campground.price %>/night</h4>
                <h4 class="card-title"><%= campground.name %></h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text"><em>Submitted by 
                <% if(isCurrentUser) { %>
                    <a href="/users/<%= campground.author.id %>">
                <% } %>
                <%= campground.author.username %>
                <% if(isCurrentUser) { %>
                    </a>
                <% } %>
                , <%= moment(campground.createdAt).fromNow() %></em></p>
                <% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="delete-form float-right" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Do you really want to delete <%= campground.name %>?');">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        
        <div class="text-right">
            <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
        </div>        
        <div class="card mt-3 mb-3">
            <div class="card-body">
                <% for(var i = 0; i < campground.comments.length; i++) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= campground.comments[i].author.username %></strong>
                            <span class="float-right"><em>Submitted <%= moment(campground.comments[i].createdAt).fromNow() %></em></span>
                            <p class="mt-2"><%= campground.comments[i].text %></p>
                            <% if(currentUser && (campground.comments[i].author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                                <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= campground.comments[i]._id %>/edit">Edit</a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= campground.comments[i]._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger float-right" value="Delete"></input>
                                </form>
                            <% } %>
                            <% if(i < campground.comments.length - 1) { %>
                                <hr>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        
    </div>
</div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXJ76W6_WRPIvcGhC89P6782-dmJalOPk&callback=initMap"></script>


<% include ../partials/footer %>