<!--USER EDIT PAGE-->


<% include ../partials/header %>

<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="login-header">Edit profile of <%= user.username %></h1>
    </div>
    <div class="login-form">
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
            <label for="firstName">First Name</label>
            <div class="form-group"><input class="form-control" type="text" name="firstName" value="<%= user.firstName %>"></input></div>
            <label for="lastName">Last Name</label>
            <div class="form-group"><input class="form-control" type="text" name="lastName" value="<%= user.lastName %>"></input></div>
            <label for="email">email*</label>
            <div class="form-group"><input class="form-control" type="email" name="email" value="<%= user.email %>"" required></input></div>
            <label for="avatar">Avatar URL</label>
            <div class="form-group"><input class="form-control" type="text" name="avatar" value="<%= user.avatar %>"></input></div>
            <% if(currentUser && currentUser.isAdmin){ %>
                <div class="form-check"><input class="form-check-input" type="checkbox" name="isAdmin" <% if(user.isAdmin) { %> checked <% } %>></input>
                <label for="isAdmin">Administrator</label></div>
            <% } %>
            <p>*Required field</p>
            <button class="btn btn-lg btn-primary btn-block">Update</button>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>